@import url('https://fonts.googleapis.com/css2?family=Galada&family=Lato:wght@300;700;900&display=swap');
/* GLOBALS */
body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	background-color: #f8f9fa;
}
.primary-color {
	background-color: #658fb9;
}

* {
	margin: 0;
	padding: 0;
}

.btn-cta {
	background-color: #658fb9;
	color: white;
	border: 1px solid #658fb9;
	transition: all .5s ease;
	width: 100%;
	margin: 5px 0;
}

.btn-cta:hover {
	background-color: transparent;
	color: #658fb9;
	border: 1px solid #658fb9;
}

.btn-second {
	width: 100%;
	margin: 5px 0;
	background-color: #f8f9fa;
	color: #658fb9;
	border: 1px solid #658fb9;
}

.title-section {
	font-weight: bold;
	color: #658fb9;
	font-size: 22px;
}

/* END GLOBALS*/

/* Navbar */
.navbar .navbar-brand {
	font-family: 'Galada', cursive;
	font-weight: bold;
	font-size: 26px;
	letter-spacing: 2px;
	color: whitesmoke;
}

.navbar .nav-item a.nav-link {
	color: white !important;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 1px;
}

.navbar .nav-item a.nav-link:hover {
	color: #0665f1 !important;
}

/* END NAVBAR*/

/* FEATURED*/
.featured {
	margin: 10px 0;
}
.item-featured {
	color: #658fb9;
	font-weight: 666;
	text-align: center;
}

.cart-counter {
	background: #658fb9;
	padding: 5px;
	border-radius: 50%;
	color: white;
}


/* FEATURED*/

/* BELANJA APA HARI INI*/
.belanja-apa-hari-ini {
	padding: 1rem 0;
	background: white;
}

.belanja-apa-hari-ini h3 {
	color: #658fb9;
	font-weight: bold;
	font-size: 22px;
}

.img-holder {
	text-align: center;
	margin-top: 1rem;
}

.img-holder img{
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 50%;
	transition: all .1s ease;
}

.img-holder:hover img{
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 50%;
	transform: scale(1.1);
}

.title-belanja {
	margin-top: 1rem;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	letter-spacing: 2px;

}
/* END BELANJA APA HARI INI*/


/* slider */
.slider {
	margin-top: 3%;
	overflow: hidden;
}

.slider img {
	object-fit: cover;
}
/* end slider */

/* SECTION PRODUCT */
section.section-product {
	margin: 2.5rem;
}

.section-product h3 {
	font-weight: bold;
	color: #658fb9;
	font-size: 22px;
}



.img-thumb {
	height: 200px;
	width: 100%;
}

.img-thumb img {
	height: 200px;
	width: 100%;
	object-fit: cover;
}

.title-product {
	margin-top: 10px;
	font-size: 20px;
	font-weight: bold;
}

.price-product {
	font-size: 18px;
	font-weight: 555;
	color: #658fb9;
}



/* SECTION PRODUCT */


/* SECTION BEST SELLER*/
.section-best-seller {
	margin: 2rem 0;
	padding: 2.5rem;
	background: white;
}

.section-best-seller h3{
	font-weight: bold;
	color: #658fb9;
	font-size: 30px;
}
/*END SECTION BEST SELLER*/

footer {
	color: white;
}

footer .title-footer{
	font-weight: bold;
	letter-spacing: 2px;
}

footer ul li{
	list-style: none;
	margin-left: -30px;
}

footer ul li a{
	color: white;
	text-decoration: none;
	text-decoration-style: none;
}


@media screen and (max-width: 768px) {
	
	/* BELANJA APA HARI INI*/

	.belanja-apa-hari-ini h3 {
		color: #658fb9;
		font-weight: bold;
		font-size: 18px;
	}


	.img-holder img{
		width: 100px;
		height: 100px;
		object-fit: cover;
		border-radius: 50%;
		transition: all .1s ease;
	}

	.img-holder:hover img{
		width: 100px;
		height: 100px;
		object-fit: cover;
		border-radius: 50%;
		transform: scale(1.1);
	}

	.title-belanja {
		margin-top: 1rem;
		font-size: 14px;
		text-align: center;
		font-weight: bold;
		letter-spacing: 1px;

	}


	/* SECTION PRODUCT */

	.section-product h3 {
		font-weight: bold;
		color: #658fb9;
		font-size: 18px;
	}

	.img-thumb {
		height: 200px;
		width: 100%;
	}

	.img-thumb img {
		height: 200px;
		width: 100%;
		object-fit: cover;
	}

	.title-product {
		font-size: 16px;
		font-weight: bold;
	}

	.price-product {
		font-size: 16px;
		font-weight: 555;
		color: #658fb9;
	}

	.button-group {
		display: block;
		justify-content: space-between;
	}

	/* SECTION PRODUCT */

}