@import url('https://fonts.googleapis.com/css2?family=Galada&family=Lato:wght@300;700;900&display=swap');
/* GLOBALS */
body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}
.primary-color {
	background-color: #658fb9;
}

/* END GLOBALS*/

.navbar .navbar-brand {
	font-family: 'Galada', cursive;
	font-weight: bold;
	font-size: 26px;
	letter-spacing: 2px;
	color: whitesmoke;
}

.navbar .nav-item a.nav-link {
	color: white !important;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 1px;
}

.navbar .nav-item a.nav-link:hover {
	color: #0665f1 !important;
}